body{
    background: white;
    color: black;
}

h1 {
    color:midnightblue;
    font-weight: normal;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
  }

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.elemento{
    width: 300px;
    margin-bottom: 5px
}

.logo {
    max-width: 100%;
    height: auto;
    margin-left: 40%;
}

@media (max-width: 620px) {
    .elemento{
        width: 100%;
    }
    .logo {
        max-width: 100%;
        height: auto;
        margin-left: 10%;
    }
}


nav ul{
    text-align: center;
}

nav a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
} 

nav li{
    display:inline-block;
    width:100px;
    padding:5px 10px;
    background-color:#000;
    border:1px solid #000;
    text-align:center;
    color:#fff;
    cursor: pointer;
}

.miclase{
    display:inline-block;
    width:100px;
    padding:5px 10px;
    background-color:midnightblue;
    border:1px solid #000;
    text-align:center;
    color:#fff;
}

nav li:hover{
    background-color:#fff;
    color:#000;
    text-align:center;
}

.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

form fieldset {
    width: 60%;
    border-radius: 10px;
  }

  label {
    display: block;
    margin: .5em 0 0 0;
  }

  .btn {
    display: block;
    margin: 1em 0;
  }

  input{
    border-radius: 3px;
    border-width: 1px;
    border-color:darkslategrey;
    background: floralwhite;
  }

  textarea{
    border-radius: 3px;
    border-width: 1px;
    border-color:darkslategrey;
    background: floralwhite;
  }

  input:focus {
    border: 2px solid #000;
    background:darkgrey;
  }

  textarea:focus{
    border: 2px solid #000;
    background:darkgrey;
  }


